@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    padding: 27px 20px 0 20px;
    background-color: $secondary;
}
// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media only screen and (min-width: 1440px) {
    body {
        padding: 175px 0px;
    }
}
