//colors
$primary: hsl(158, 36%, 37%);
$secondary: hsl(30, 38%, 92%);
$tertiary: hsl(212, 21%, 14%);
$text-color: hsl(228, 12%, 48%);
$card-background: hsl(0, 0%, 100%);
$btn-active: rgb(26,64,49);
$btn-font-color: hsl(0, 0%, 100%);


//fonts
$paragraph-font-size: 14px;
